---
layout: default
title: Meine Nische | Kurse
style: kurse.css
permalink: kurse
events:
  - name: "Stark & Mutig – Resilienzkurs für Kinder"
    image: stephanie.png
    time:  Mittwochs von 16:30 – 17:30 Uhr (23.9 bis 28.10.26)
    description: "Kinder lernen in meinem Kurs, mit den Herausforderungen und Konflikten im Leben gut umzugehen. 
    Sie trainieren ihre Resilienz, Ausdauer und Empathie und stärken dabei ihr Selbstbewusstsein. 
    So üben sie im geschützten Raum soft skills ein, die hilfreich sind um ein glückliches, zufriedenes und
    erfolgreiches Leben zu führen."
    costs: "89 € pro Kind"
    address: "Stephanie Naebers // 0171 5324975 // stephanie.naebers@gmail.com"
  - name: "Yoga mit Herz – Fließend zwischen Hatha und Vinyasa"
    subdescription: Meine Yogastunden sind ein wertfreier Raum voller Herz, in dem körperliche Stärke, Achtsamkeit und menschliche Verbundenheit zusammenfinden.
    image: caro.png
    time: Dienstags von 19:45 bis 21 Uhr (ab September 2026)
    description: "Ein wertfreier Raum voller Herz, Achtsamkeit und körperlicher Stärke kann zu einem Ort werden, 
    an dem innere und äußere Balance sowie echtes Wohlbefinden entstehen. Hier begegnen sich Menschen 
    in einer Atmosphäre von Respekt und Offenheit – getragen von dem Gefühl, willkommen zu sein und sich ohne 
    Bewertung zeigen zu dürfen. Herz steht dabei für gelebtes Mitgefühl und echte Empathie, aus denen eine tragende, 
    unterstützende Gemeinschaft wächst. Achtsamkeit lädt dazu ein, den Moment bewusst wahrzunehmen und eine tiefere 
    Verbindung zu sich selbst und anderen entstehen zu lassen. Körperliche Stärke geht über reine Kraft hinaus: Sie 
    zeigt sich im achtsamen Spüren des eigenen Körpers, im Respekt gegenüber den eigenen Grenzen und im Vertrauen 
    in die eigene Präsenz. In diesem Raum darf Entwicklung geschehen – ruhig, ehrlich und im eigenen Tempo. 
    So entsteht die Möglichkeit, sich selbst und die Welt mit mehr Klarheit, Bewusstsein und innerer Stärke zu erleben."
    costs: "Offene Stunde 15 EUR / á 75 Min."
    address: "caro-yoga@outlook.de"
  - name: "Klangreise mit tibetischen Klangschalen"
    image: annika2.png
    time: Sonntag, 6. September & Sonntag, 18. Oktober jeweils 19 – 20 Uhr
    description: "Gönn dir eine Auszeit vom Alltag und begib dich auf eine achtsame Reise nach innen.
    In der geschützten Atmosphäre der Klangreise wirst du von den sanften Schwingungen tibetischer Klangschalen umhüllt. 
    Sie laden dich ein, innezuhalten, ganz im Hier und Jetzt anzukommen und für einen Moment alles um dich herum zu 
    vergessen. Während der Klangreise verbringst du die gesamte Zeit in einer bequemen Liegeposition. 
    Du musst nichts tun, nichts leisten, nichts 'richtig' machen – du darfst einfach empfangen. Lausche den Klängen, nimm wahr, was entsteht, und schenke dir eine Stunde, in der nichts von dir verlangt wird."
    costs: "20 € pro Person"
    address: "Annika Greif // 0491 5902139211 // annikagreif@outlook.de"
  - name: "Herbst-Workshop Pilze"
    image: dominika.png
    time:  Samstag, 26. September von 13:15 – 15:45 Uhr
    description: "Im Herbst sprießen die Pilze nicht nur im Wald, sondern auch auf unserem Aquarellpapier! 🍄 
    In diesem Workshop gestaltest du dein ganz eigenes Pilzbouquet: verspielt, geheimnisvoll, farbenfroh oder ein 
    kleines bisschen seltsam. Anders als bei meinen bisherigen Workshops gibt es diesmal kein 
    fest vorgegebenes Motiv. Stattdessen bringe ich verschiedene Pilzformen und Gestaltungsideen mit, aus 
    denen du deine persönliche Komposition zusammenstellen kannst.
    So entsteht Schritt für Schritt ein individuelles Pilzkunstwerk, das garantiert kein zweites Mal genauso aussieht."
    costs: "60 € pro Person (inkl. Material)"
    address: "Dominika Heublein-Behrens // mail@ominia-art.de"
    homepage: "ominia-art.de/produkt/herbst-workshop-pilze/"
  - name: "Psychologische und Systemische Beratung"
    image: julia.png
    time:  Auf Anfrage
    description: "In meinen Beratungen findest du einen geschützten Raum, in dem du dich ohne Druck und 
    Erwartungen anvertrauen darfst. Gemeinsam sortieren wir Gedanken und Gefühle, entdecken Ressourcen und 
    schaffen Klarheit für deinen nächsten Schritt."
    costs: "60 Euro pro Stunde"
    address: "Melde dich bei Julia per Mail an diegelmannjulia@gmail.com"
    homepage: "lifewiki.de"
  - name: "TriYoga® Kurs"
    image: jessica.png
    time: Mittwochs von 18:15 – 19:45 Uhr
    description: "TriYoga® widmet prinzipiell beim Üben der Wellenbewegung der Wirbelsäule besondere Aufmerksamkeit.
    Die Übergänge zwischen den einzelnen Asanas (wenn nicht gehalten) sind fließend und wirken dadurch sehr ästhetisch.
    Hilfsmittel (Blöcke, Gurte etc.) sowie verschiedene Mudras werden in den Fluss der Bewegung mit eingebunden. 
    Von Beginn an werden die unterschiedlichen Atemtechniken vermittelt. So kann jede(r) nach seinen Möglichkeiten üben."
    costs: "8 x 80 Minuten für 135€ (120€ für Student*innen)"
    address: jessica.hakki@gmail.com
    homepage: jessicahakki.de/
  - name: "SPEAK UP: Stimm- und Sprechtraining"
    image: carolin.png
    time: Termine individuell nach Vereinbarung
    address: hallo@sprechtraining-wuerzburg.de
    homepage: sprechtraining-wuerzburg.de
    description: "Mit unserer Stimme sind wir im Außen hörbar. Stimmig wirken wir, wenn unser Klang ganz zu unserer Persönlichkeit passt, sie widerspiegelt. Diese natürliche eigene Stimme, die wir haben, kann über die Jahre verloren gegangen sein. Hier und da haben sich Blockaden eingeschlichen, gestützt von gesellschaftlichen Erwartungen: Bauch einziehen, lächeln, möglichst freundlich klingen – kennst du das auch?
    Das kann zu Heiserkeit, Kurzatmigkeit oder einem flachen Stimmklang führen. Frustrierend wird’s, wenn du im Beruf vor Präsentationen plötzlich viel zu aufgeregt bist, dein Atem kurz und kürzer wird, deine Stimme dünn und dein Kopf rot. Oder wenn du abends in der Kneipe nach zwei Stunden Unterhaltung bei lauter Musik merkst, dass das Sprechen nur noch anstrengend ist. Oder wenn du in deinem eigenen Podcast nicht so viele Hörer:innen hast, wie du gerne hättest. Kleiner Tipp: Wort, Ton, Atem, Körper, Intention müssen zusammenspielen!
    Speak up, mach dich und dein Anliegen hörbar! Ich arbeite mit dir an deiner stimmlichen Präsenz, an deinem stimmigen Auftritt. "
  - name: "Hatha Yoga klassisch nach Sivananda"
    time: "Montags von 19:30 – 21 Uhr"
    description: "Wir praktizieren mit Traditionsbezug die klassischen Körperstellungen aus dem Hatha Yoga, um unsere Kraft, Flexibilität und Balance gleichermaßen zu entwickeln. Wir üben Sonnengruß und Rishikesh-Reihe, spielen und experimentieren damit. Durch leichtere Abwandlungen sowie herausfordernde Varianten sind die Stunden für alle geeignet, egal ob Neuling oder Yogi(ni) mit langjähriger Erfahrung... "
    address: shivanitempel@web.de
    image: agnes.png
  - name: "Meditationsgruppe"
    time: Mittwochs von 20 – 22 Uhr
    description: Wir sind eine QLB-Atemgruppe (Quantum-Light-Breath). Hierbei handelt es sich um eine Meditationsform, welche von Jeru Kabbal entwickelt wurde. Bei der QLB handelt es sich um eine einstündige Atemmeditation und uns in das „Hier und Jetzt“ führt. Wir beginnen mit dem Eintanzen und setzen uns danach zu einer Gesprächsrunde in den Kreis. Danach folgt die Medi. Nach einer kurzen Ruhephase schließen wir wieder mit einer Rederunde ab, in welcher jeder über seine gemachten Erfahrungen reden darf wenn er möchte. Diese Meditationsform erzeugt mit der Zeit eine Transformation des Inneren bei den Teilnehmern und durch unsere liebevolle Durchführung auch ein starkes Gefühl von Gemeinschaft untereinander.
    image: meditation.png
    address: hallo@meine-nische.de
---

<article class="flex-responsive flex-gap-4">
  <div class="studio-card">
    <div class="text-highlight themed-text big-size">Veranstaltungen</div>
    <div>
      Du möchtest Dir etwas Gutes tun? Dich bei einer Yoga-Stunde entspannen?
      Oder bei einem kreativen Workshop fernab vom Bildschirm wieder etwas mit
      den eigenen Händen machen?
    </div>
    <div>
      Dann besuche eine der wundervolle Veranstaltungen in der Nische. Hier
      findest du alle Events, die aktuell stattfinden.
    </div>
  </div>
  <div class="studio-card align-items-center">
    <div class="keyhole-image">
      <picture>
        <source
          media="(max-width: {{ site.mobile_breakpoint }})"
          srcset="blank.png"
        />
        <img alt="Teaser für Kurse" src="images/stift_500w.png" />
      </picture>
    </div>
  </div>
</article>

{% for event in page.events %}
<article class="flex-responsive flex-gap-4">
  <div class="studio-card">
    <div class="text-highlight big-size themed-text-secondary mb-3">
      {{ event.name }}
    </div>
    <div class="d-flex flex-column flex-gap-2">
      <div class="text-important">{{ event.time }}</div>
      {% if event.subdescription %}
      <div>{{ event.subdescription }}</div>
      {% endif %}
      <div>{{event.description}}</div>
    </div>
    {% if event.costs %}
    <div><span class="text-important">Kosten: </span>{{ event.costs }}</div>
    {% endif %} {% if event.link %}
    <div class="mt-3"><a target="_blank" href="{{ event.link }}"">Hier geht es zur Anmeldung</a></div>
    {% endif %}
    <div class="d-flex align-items-center flex-gap-3 mt-3">
      <span class="arrow-right"></span>
      <div>
        <div>Infos und Anmeldung unter</div>
        <div class="text-important wb-break-word">{{event.address}}</div>
        {% if event.homepage %}
        <div class="wb-break-word">
          Homepage: <a href="https://{{event.homepage}}">{{event.homepage}}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="studio-card align-items-center">
    <div class="event-image">
      <picture>
        <source
          media="(max-width: {{ site.mobile_breakpoint }})"
          srcset="blank.png"
        />
        <img alt="Teaser für Kurse" src="images/events/{{event.image}}" />
      </picture>
    </div>
  </div>
</article>
{% endfor %}
