.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

@media screen and (min-width: $mobile-breakpoint) and (max-resolution: $mobile-resolution) {
  .flex-responsive {
    display: flex;
    flex-direction: row !important;
  }
}

.align-items-center {
  align-items: center !important;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.justify-content-even {
  justify-content: space-evenly;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.flex-wrap {
  flex-wrap: wrap;
}
