.navbar {
  background-color: white;
  height: auto;
  position: fixed;
  z-index: 500;
  right: 0;
  left: 0;
  span {
    cursor: pointer;
  }

  input {
    display: none;
  }
}

.menu-opener {
  font-size: 2.5em;
  cursor: pointer;
  display: block;
  top: 10px;
  right: 10px;
  position: absolute;
  z-index: 1000;
}

.navbar-links {
  font-size: 2.5em;
  line-height: 1.5em;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  span {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.call-to-action {
  display: none !important;
}

#side-menu:checked ~ .navbar-links {
  background-color: $color-navbar !important;
  opacity: 1 !important;
  max-height: 600px;
  padding: 15px;
}

.menu-opener {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: $mobile-breakpoint) and (max-resolution: $mobile-resolution) {
  .navbar {
    padding-left: 16.5% !important;
    padding-right: 16.5% !important;
    background-color: $color-navbar;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-links {
    font-size: 1em;
    line-height: 1em;
    display: flex;
    gap: 16px;
    max-height: 300px;
    opacity: 1;
    padding: 0;
  }

  .call-to-action {
    display: flex !important;
  }

  .menu-opener {
    display: none;
  }
}
