.button {
  height: 32px;
  border-radius: 17px;
  border: 2px solid $accent;
  font-size: 0.8em;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  color: $accent;
  background-color: $bright-background;
  transition: all ease 0.3s;
}

.button.filled, .button:hover {
  background-color: $accent;
  color: white;
}

.button.filled:hover {
  background-color: $bright-background;
  color: $accent
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay_wght.ttf") format("truetype");
  font-weight: 800;
}

.themed-text {
  color: $accent;
}

.themed-text-secondary {
  color: $accent-secondary
}

.text-highlight {
  font-family: "PlayfairDisplay", serif;
}

.big-size {
  font-size: 1.5em;
  line-height: 1.5em;
}

.huge-size {
  font-size: 2em;
  line-height: 1.8em;
}

a {
  transition: color ease 0.3s;
}

a:hover {
  color: $accent-secondary
}

.text-important {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}
