<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link href="styles/main.css" rel="stylesheet"/>
  <link href="styles/navbar.css" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100 w-100 m-0">
<div class="navbar d-flex justify-content-between align-items-center">
  <div class="d-flex flex-gap-4">
    <span>Heim</span>
    <span>Das Studio</span>
    <span>Workshops & Kurse</span>
    <span>Kontakt</span>
  </div>
  <span class="button">Jetzt Mieten</span>
</div>
{{ page.text }}
{{ content }}
</body>
</html>
