<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link href="styles/main.css" rel="stylesheet"/>
  <link href="styles/navbar.css" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100 w-100 m-0">
<div class="navbar">
  <input class="side-menu" type="checkbox" id="side-menu"/>
  <div class="navbar-links">
    <span>Heim</span>
    <span>Das Studio</span>
    <span>Workshops & Kurse</span>
    <span>Kontakt</span>
  </div>
  <span class="button call-to-action">Jetzt Mieten</span>
  <label class="menu-opener" for="side-menu"><span class="menu-opener-label">Menü</span></label>
</div>
{{ content }}
</body>
</html>
