---
---
@import "variables";
@import "flex";
@import "spacing";
@import "typography";

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.5em;
  color: $text-color
}

@media screen and (min-width: $mobile-breakpoint) and (max-resolution: $mobile-resolution) {
  body {
    font-size: 20px;
  }
}
