---
---
$mobile-breakpoint: {{ site.mobile_breakpoint }};
@import "variables";
@import "flex";
@import "spacing";
@import "typography";

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
}

body {
  font-family: "SourceSansPro", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.5em;
  color: $text-color;
  background-color: $bright-background;
}

@media screen and (min-width: $mobile-breakpoint) and (max-resolution: $mobile-resolution) {
  body {
    font-size: 20px;
  }
}
